<section id="tableHolder">
  <div id="table">
    <table id="table-sortable" class="sort">
      <thead>
        <tr>
          <th>Facility</th>
          <th>Address</th>
          <th>Total Injury Rate for 2018</th>
          <th>Number of Serious Injuries for 2018</th>
          <th data-sort-method='none'>Source(s) for Locations</th>
        </tr>
      </thead>
      <tbody>
        <% data.amazon.keys.each do |key| %>
          <% f = data.amazon[key] %>
          <tr>
            <td><%= key %></td>
            <td><%= f["City"] %>, <%= f["State"] %>, <%= f["Zip Code"] %></td>

            <% dart = f["Total Injury Rate for 2018"] %>
            <% roundedDart = dart.to_f.round(2) %>
            <% normalisedDart = dart == "UNKNOWN" ? "0" : roundedDart %>
            <td data-sort="<%= normalisedDart %>">
              <%= dart == "UNKNOWN" ? "Unavailable" : roundedDart %>
              <div class="state-bar"></div>
            </td>

            <% seriousCount = f["Number of Serious Injuries for 2018"] %>
            <% roundedSeriousCount = seriousCount.to_f.round(2) %>
            <% normalisedCountValue = seriousCount == "UNKNOWN" ? "0" : roundedSeriousCount %>
            <td data-sort="<%= normalisedCountValue %>" >
              <%= seriousCount == "UNKNOWN" ? "Unavailable" : roundedSeriousCount %>
              <div class="state-bar"></div>  
            </td>

            <td data-sort-method='none'><%= f["Source(s) for Locations"] %></td>
          </tr>
        <% end %>
        
      </tbody>
    </table>
    <div id="contact-worker"><p>Did you work in this facility? Contact example@revealnews.org
    to learn how you can request information</p></div>
    <div id="contact"><p>Are we missing this facility? Contact example@revealnews.org to let us know.</p></div>
   
  </div>
</section>