<%= partial './partials/vars' %>

<%= partial './partials/searchbar' %>
<section id="graphic">
  <%= partial './partials/map' %>
  <%= partial './partials/infobox' %>
</section>
<section id="table-data" class="all">
  <%= partial './partials/table' %>
</section>
